# Transformation of Rainfall data for radial chart:

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
rainfall_data = pd.read_csv("../data/state_rainfall_by_month.csv")

In [6]:
rainfall_data['officialnamestate'].value_counts()

New South Wales      12
Queensland           12
South Australia      12
Tasmania             12
Territories          12
Victoria             12
Western Australia    12
Name: officialnamestate, dtype: int64

In [7]:
rainfall_data

    Unnamed: 0  Month  officialnamestate  RainProportion
0            0      1    New South Wales       18.769000
1            1      1         Queensland       46.897583
2            2      1    South Australia        4.217602
3            3      1           Tasmania        2.689390
4            4      1        Territories       13.168137
..         ...    ...                ...             ...
79          79     12    South Australia        5.020618
80          80     12           Tasmania        3.873348
81          81     12        Territories       12.271402
82          82     12           Victoria        8.638671
83          83     12  Western Australia        5.924739

[84 rows x 4 columns]